<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orderManage.dao.SkillMapper" >
  <resultMap id="BaseResultMap" type="com.orderManage.pojo.Skill" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="skillname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="worker_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, skillname, worker_id, price, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from skill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from skill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.orderManage.pojo.Skill" >
    insert into skill (id, skillname, worker_id, 
      price, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{skillname,jdbcType=VARCHAR}, #{workerId,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.orderManage.pojo.Skill" >
    insert into skill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="skillname != null" >
        skillname,
      </if>
      <if test="workerId != null" >
        worker_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="skillname != null" >
        #{skillname,jdbcType=VARCHAR},
      </if>
      <if test="workerId != null" >
        #{workerId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.orderManage.pojo.Skill" >
    update skill
    <set >
      <if test="skillname != null" >
        skillname = #{skillname,jdbcType=VARCHAR},
      </if>
      <if test="workerId != null" >
        worker_id = #{workerId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.orderManage.pojo.Skill" >
    update skill
    set skillname = #{skillname,jdbcType=VARCHAR},
      worker_id = #{workerId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByWorkerId" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from skill
    where worker_id = #{workerId}
  </select>
  <select id="selectAllSkill" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from skill
    ORDER BY create_time desc
  </select>
</mapper>